@import "normalize.less";

@import "blocks/main.less";
@import "blocks/main-menu.less";
@import "blocks/skills-scale.less";
@import "blocks/portfolio.less";
@import "blocks/statistics.less";
@import "blocks/contacts.less";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #515769;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.section {
    padding: 40px 0;
}

.section-title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}