.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.c-text-center {
  text-align: center; }

.c-wrap {
  box-sizing: border-box;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #5b5b5b;
  /*
    a {
        color: inherit;
    }*/ }
  .c-wrap *, .c-wrap *:before, .c-wrap *:after {
    box-sizing: inherit; }
  .c-wrap button,
  .c-wrap input,
  .c-wrap select,
  .c-wrap textarea {
    font: inherit; }
  .c-wrap button,
  .c-wrap select {
    text-transform: none; }
  .c-wrap button,
  .c-wrap [type="button"],
  .c-wrap [type="reset"],
  .c-wrap [type="submit"] {
    cursor: pointer; }
  .c-wrap [disabled] {
    cursor: default; }
  .c-wrap textarea {
    overflow: auto; }
  .c-wrap img {
    max-width: 100%;
    height: auto; }

/*================== 
  Variables
====================*/
/*================== 
  Section title
====================*/
.c-section-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3b3391; }

@media screen and (max-width: 767px) {
  .c-section-title {
    font-size: 32px; } }

.c-checkbox-input {
  display: none; }

.c-checkbox {
  display: block;
  font-size: 24px; }

.c-checkbox-icon {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #ccc9f7;
  width: 25px;
  height: 25px;
  margin-right: 14px;
  border-radius: 4px;
  position: relative; }

.c-icon-ok:before {
  content: "";
  display: block;
  visibility: hidden;
  width: 17px;
  height: 10px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  top: 3px;
  left: 2px; }

.c-checkbox-input:checked + .c-icon-ok:before {
  visibility: visible; }

/*================== 
  Container
====================*/
.c-container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-width: 1195px) {
  .c-container {
    padding-left: 10px;
    padding-right: 10px; } }

/*================== 
  Button
====================*/
.c-btn {
  display: inline-block;
  vertical-align: top;
  padding: 12px 22px;
  background: #fade41;
  color: #2a250b;
  border: none;
  text-decoration: none;
  text-align: center;
  white-space: normal;
  border-radius: 3px;
  transition: all .3s ease; }
  .c-btn:hover {
    background: #f9cd44; }

.c-btn_transparent {
  background: transparent;
  color: #ffffff;
  border: 1px solid #fff; }
  .c-btn_transparent:hover {
    background: #e5e7f2;
    color: #352c85; }

/*================== 
  List
====================*/
.c-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.3;
  text-align: left; }
  .c-list__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    min-height: 30px; }
    .c-list__item:not(:last-child) {
      margin-bottom: 23px; }
    .c-list__item:before {
      content: "";
      -ms-flex-negative: 0;
          flex-shrink: 0;
      width: 33px;
      height: 31px;
      margin-right: 10px;
      background: url("../img/sprite.png") -212px -77px; }

/*================== 
  Main
====================*/
.c-main {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #4e5357;
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #ffffff; }
  .c-main .c-container {
    position: relative; }
    .c-main .c-container:before {
      content: "";
      width: 561px;
      height: 689px;
      position: absolute;
      bottom: -170px;
      left: 650px;
      background-image: url(../img/monitor.png);
      background-size: contain;
      background-repeat: no-repeat; }
  .c-main__content {
    max-width: 600px; }
  .c-main__title {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 34px; }
  .c-main__features {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-bottom: 25px; }
  .c-main__feature {
    -ms-flex-preferred-size: 280px;
        flex-basis: 280px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px; }
    .c-main__feature:before {
      content: "";
      width: 20px;
      height: 18px;
      background: url("../img/css_sprites.png") -238px -86px;
      position: absolute;
      top: 0;
      left: 0; }
  .c-main__btn-wrap {
    display: -ms-flexbox;
    display: flex; }
    .c-main__btn-wrap .c-btn:first-child {
      margin-right: 20px; }

@media screen and (max-width: 1199px) {
  .c-main .c-container:before {
    width: 335px;
    height: 434px; } }

@media screen and (max-width: 990px) {
  .c-main .c-container:before {
    display: none; } }

@media screen and (max-width: 500px) {
  .c-main__features {
    -ms-flex-pack: center;
        justify-content: center; }
  .c-main__btn-wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    .c-main__btn-wrap .c-btn {
      max-width: 250px; }
      .c-main__btn-wrap .c-btn:first-child {
        margin-bottom: 15px;
        margin-right: 0; } }

/*================== 
  Difference
====================*/
.c-difference {
  padding-top: 95px;
  padding-bottom: 95px; }
  .c-difference__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .c-difference__left {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
    padding-right: 20px; }
  .c-difference__right {
    -ms-flex-preferred-size: 600px;
        flex-basis: 600px; }
  .c-difference__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .c-difference__list-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .c-difference__list-item:not(:last-child) {
      margin-bottom: 60px; }
  .c-difference__list-item-number {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 77px;
    height: 77px;
    margin-right: 25px;
    font-size: 40px;
    border: 2px solid #c9007e;
    color: #c9007e;
    border-radius: 50%; }
  .c-difference__list-item-text {
    font-size: 20px; }

@media screen and (max-width: 767px) {
  .c-difference__wrap {
    display: block; }
  .c-difference__left {
    padding-right: 0;
    margin-bottom: 25px;
    text-align: center; } }

@media screen and (max-width: 500px) {
  .c-difference__list-item {
    -ms-flex-direction: column;
        flex-direction: column; }
  .c-difference__list-item-number {
    margin-bottom: 15px; } }

/*================== 
  Features
====================*/
.c-features {
  padding-top: 85px;
  padding-bottom: 60px;
  background-color: #e1e1e1;
  background-image: url(../img/gray.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-size: cover; }
  .c-features__title {
    margin-bottom: 25px;
    margin-top: -20px;
    margin-left: -40px; }
  .c-features__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 1120px;
    padding-top: 50px;
    margin-left: auto;
    border-top: 2px solid #3b3391;
    border-right: 2px solid #3b3391;
    border-bottom: 2px solid #3b3391;
    position: relative; }
    .c-features__wrap:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 2px;
      height: 250px;
      background: #3b3391; }
  .c-features__box-img {
    margin-left: -50px; }
  .c-features__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 860px;
    margin-left: auto; }
  .c-features__item {
    -ms-flex-preferred-size: 260px;
        flex-basis: 260px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 25px;
    margin-bottom: 45px; }
  .c-features__item-title {
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 700;
    color: #262626; }
  .c-features__item-icon-wrap {
    min-height: 80px; }
  .c-features__item-icon_truck {
    width: 60px;
    height: 47px;
    background: url("../img/css_sprites.png") -158px -10px; }
  .c-features__item-icon_stuff {
    width: 45px;
    height: 56px;
    background: url("../img/css_sprites.png") -238px -10px; }
  .c-features__item-icon_treasure {
    width: 54px;
    height: 60px;
    background: url("../img/css_sprites.png") -10px -10px; }
  .c-features__item-icon_terminal {
    width: 54px;
    height: 52px;
    background: url("../img/css_sprites.png") -10px -157px; }
  .c-features__item-icon_mileage {
    width: 60px;
    height: 47px;
    background: url("../img/css_sprites.png") -10px -90px; }
  .c-features__item-icon_delivery {
    width: 54px;
    height: 53px;
    background: url("../img/css_sprites.png") -84px -10px; }
  .c-features__item-icon_phone {
    width: 47px;
    height: 47px;
    background: url("../img/css_sprites.png") -90px -90px; }
  .c-features__item-icon_time {
    width: 53px;
    height: 53px;
    background: url("../img/css_sprites.png") -158px -77px; }
  .c-features__item-icon_to {
    width: 47px;
    height: 46px;
    background: url("../img/css_sprites.png") -84px -157px; }
  .c-features__btn-wrap {
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }

@media screen and (max-width: 1170px) {
  .c-features__title {
    margin-top: 0;
    margin-left: 0; }
    .c-features__title br {
      display: none; }
  img.c-features__box-img {
    max-width: 250px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 25px; }
  .c-features__wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    border-left: 2px solid #3b3391; }
    .c-features__wrap:before {
      display: none; }
  .c-features__left {
    text-align: center; }
  .c-features__right {
    padding-right: 30px;
    padding-left: 40px; }
  .c-features__items {
    -ms-flex-pack: center;
        justify-content: center; }
  .c-features__item {
    margin-right: 10px;
    margin-left: 10px; } }

/*================== 
  Count
====================*/
.c-count {
  padding-top: 75px;
  padding-bottom: 95px; }
  .c-count .c-checkbox {
    color: #ffffff; }
  .c-count__title {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #3b3391; }
  .c-count__label {
    margin-bottom: 15px;
    font-size: 18px;
    color: #ccc9f7; }
  .c-count__wrap {
    padding: 63px 70px;
    background-color: #3b3391;
    position: relative; }
  .c-count__innerwrap {
    max-width: 530px; }
  .c-count__checkboxes {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }

.c-slider {
  margin-bottom: 45px; }
  .c-slider__field {
    height: 52px;
    padding: 0 14px;
    font-size: 24px;
    line-height: 52px;
    border: 2px solid #ccc9f7;
    border-radius: 6px;
    color: #ffffff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .c-slider__bar {
    width: 100%;
    margin-top: -2px;
    margin-left: -5px;
    position: relative;
    height: 2px; }
  .c-slider__point {
    width: 22px;
    height: 22px;
    position: absolute;
    top: -12px;
    left: 0;
    background-color: #ffffff;
    border: 6px solid #c9007e;
    border-radius: 50%;
    cursor: pointer; }

.c-offer {
  max-width: 340px;
  border-radius: 40px;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 43px 0px rgba(101, 101, 101, 0.33);
  position: absolute;
  top: -50px;
  right: 75px; }
  .c-offer__top {
    padding: 30px 38px;
    border-bottom: 1px solid #cccccc; }
  .c-offer__title {
    font-size: 24px;
    text-transform: uppercase; }
  .c-offer__content {
    padding: 20px 38px 45px 38px; }
  .c-offer__price {
    margin-bottom: 20px; }
  .c-offer__price-label {
    font-size: 18px;
    color: #999999; }
  .c-offer__price-number {
    font-size: 50px;
    font-weight: 600;
    color: #363636; }

@media screen and (max-width: 1050px) {
  .c-offer {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; }
  .c-count__innerwrap {
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 660px) {
  .c-count__checkboxes {
    -ms-flex-direction: column;
        flex-direction: column;
    font-size: 20px; }
  .c-checkbox {
    font-size: 20px; }
    .c-checkbox:not(:last-child) {
      margin-bottom: 15px; }
  .c-count__wrap {
    padding: 40px 30px; } }

@media screen and (max-width: 400px) {
  .c-offer__price-number {
    font-size: 30px; } }

/*================== 
  Experience
====================*/
.c-experience {
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 80px;
  background-color: #091217;
  background-image: url(../img/road.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #ffffff; }
  .c-experience .c-container {
    min-height: 437px;
    position: relative; }
    .c-experience .c-container:before {
      content: "";
      width: 740px;
      height: 475px;
      position: absolute;
      right: -57px;
      bottom: -100px;
      background-image: url(../img/gazel.png);
      background-repeat: no-repeat; }
  .c-experience__main {
    max-width: 370px; }
  .c-experience__title {
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 40px;
    text-transform: uppercase; }
  .c-experience__subtitle {
    font-size: 20px; }
  .c-experience__item {
    font-size: 24px;
    position: absolute; }
    .c-experience__item:nth-child(1) {
      max-width: 225px;
      top: 244px;
      left: 15px; }
    .c-experience__item:nth-child(2) {
      max-width: 250px;
      top: 165px;
      left: 282px; }
    .c-experience__item:nth-child(3) {
      max-width: 170px;
      top: 44px;
      left: 525px; }
  .c-experience__item-percent {
    font-size: 80px;
    line-height: 70px;
    color: #fade41; }
  .c-experience__item-text-bottom {
    margin-left: 25px; }

@media screen and (max-width: 1080px) {
  .c-experience .c-container:before {
    display: none; }
  .c-experience .c-container {
    margin-left: 30px; } }

@media screen and (max-width: 767px) {
  .c-experience .c-container {
    margin-left: auto; }
  .c-experience__main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    text-align: center; }
  .c-experience__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  .c-experience__item {
    margin-bottom: 30px;
    position: static;
    text-align: center; }
  .c-experience__item-text-bottom {
    margin-left: auto; } }

/*================== 
  Integration
====================*/
.c-integration {
  padding-top: 20px;
  padding-bottom: 80px; }
  .c-integration__title {
    margin-bottom: 20px; }
  .c-integration__subtitle {
    margin-bottom: 50px;
    font-size: 24px; }
  .c-integration__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px; }
  .c-integration__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    min-height: 200px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    text-align: center; }
    .c-integration__item:not(:last-child) {
      margin-right: 25px; }
  .c-integration__item-img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    height: 130px; }
  .c-integration__btn-wrap {
    text-align: center; }

@media screen and (max-width: 1180px) {
  .c-integration__title {
    margin-left: auto;
    margin-right: auto; }
  .c-integration__title,
  .c-integration__subtitle {
    text-align: center; }
  .c-integration__items {
    -ms-flex-pack: center;
        justify-content: center; }
  .c-integration__item,
  .c-integration__item:last-child {
    margin-left: 10px;
    margin-right: 10px; } }

@media screen and (max-width: 400px) {
  .c-integration__title {
    font-size: 30px; } }

/*================== 
  Feedback
====================*/
.c-feedback {
  padding-top: 70px;
  padding-bottom: 55px;
  background-color: #3b3391;
  color: #ffffff; }
  .c-feedback .c-container {
    position: relative; }
    .c-feedback .c-container:before {
      content: "";
      width: 393px;
      height: 393px;
      background: url(../img/satellite.png) no-repeat;
      position: absolute;
      top: -160px;
      right: 10px; }
  .c-feedback__innerwrap {
    max-width: 1120px;
    padding: 50px 35px 50px 35px;
    margin-left: auto;
    border: 2px solid #fff; }
  .c-feedback__title {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -90px;
    font-size: 40px;
    text-transform: uppercase;
    background-color: #3b3391; }

.c-feedback-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .c-feedback-form__input {
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding-left: 17px;
    padding-right: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #bbb8d9;
    height: 43px;
    line-height: 43px;
    color: #ffffff; }
  .c-feedback-form .c-feedback-form__input::-webkit-input-placeholder {
    color: #fff; }
  .c-feedback-form .c-feedback-form__input:-moz-placeholder {
    color: #fff; }
  .c-feedback-form .c-feedback-form__input::-moz-placeholder {
    color: #fff; }
  .c-feedback-form .c-feedback-form__input:-ms-input-placeholder {
    color: #fff; }
  .c-feedback-form__btn {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0; }

@media screen and (max-width: 1190px) {
  .c-feedback__title {
    margin-left: 0;
    position: relative;
    background: transparent; } }

@media screen and (max-width: 900px) {
  .c-feedback__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .c-feedback-form {
    -ms-flex-direction: column;
        flex-direction: column;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto; }
  .c-feedback-form__input {
    margin-right: 0;
    margin-bottom: 15px; } }

@media screen and (max-width: 767px) {
  .c-feedback .c-container:before {
    display: none; }
  .c-feedback-form {
    -ms-flex-direction: column;
        flex-direction: column; }
  .c-feedback-form__input {
    margin-bottom: 15px; }
  .c-feedback__title {
    font-size: 20px;
    text-align: center; } }

/*================== 
  Popup
====================*/
.c-popup {
  display: none;
  max-width: 620px;
  padding: 60px 100px; }
  .c-popup .fancybox-close-small:after {
    font-size: 45px;
    color: #bbbbbb; }
  .c-popup .fancybox-close-small:hover:after {
    background: transparent;
    color: #bbbbbb; }
  .c-popup .c-btn {
    min-width: 200px;
    margin-top: 37px; }
  .c-popup__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #3b3391; }
  .c-popup__form {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .c-popup__form-input {
    width: 100%;
    padding: 12px 10px 12px 18px;
    margin-bottom: 17px; }
